.coluna {
    display: flex;
    flex-direction: column;
}

.linha {
    display: flex;
    flex-direction: row;
}

.remedios{
    display: flex;
    height: 7rem;
    width: 7rem;
    padding: 2rem;
    flex-direction: column;
}

.busca{
    border-style: solid;
    border-width: 0.10rem;
    border-color: black;
    padding: 0.20rem;
}

.imagem_pequena{
    display: flex;
    height: 1.25rem;
    width: 1.25rem;
}

.imagem_media{
    display: flex;
    height: 3.5rem;
    width: 3.5rem;
}

.centraliza{
    display: flex;
    align-self: center;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200%;
}

.espacamento_igual{
    justify-content: space-evenly;
}

.espacar{
    padding: 2rem;
}

.espacar_leve{
    padding: 0.5rem;
}

footer{
    display: flex;
    position: fixed;
    flex-direction: row;
    left: 0rem;
    bottom: 0rem;
    width: 100%;
    min-height: 44px;
    background-color: gray;
}

.remedios_buscados{
    display: flex;
    height: 10rem;
    width: 10rem;
    padding: 2rem;
    flex-direction: column;
}

.caixa_texto{
    display: flex;
    height: 1rem;
    width: 4.5rem;
    border-style: solid;
    border-width: 0.10rem;
    border-color: black;
    padding: 0.5rem;
    margin: 0.5rem;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}